{
  "plugins": [
    "transform-decorators-legacy",
    [
      "module-resolver",
      {
        "root": ["."],
        "alias": {
          "styles": "./public/styles",
          "com_common": "./components/common",
          "com_pages":"./components/pages",
          "md_utils":"./components/utils",
          "md_public":"./public/scripts"
        },
        "cwd": "babelrc"
      }
    ],
    [
      "import",
      {
        "libraryName": "antd",
        "style": false
      }
    ]
  ],
  "presets": [
    [
      "next/babel",
      {
        "styled-jsx": {
          "plugins": [
            "styled-jsx-plugin-sass"
          ]
        }
      }
    ]
  ],
  "ignore": []
}

