{
    "plugins": [
      "transform-decorators-legacy",
      [
        "module-resolver",
        {
          "root": ["."],
          "alias": {
            "styles": "./public/styles",
            "com_common": "./components/common",
            "com_pages":"./components/pages",
            "md_utils":"./public/utils",
            "md_public":"./public"
          },
          "cwd": "babelrc"
        }
      ],
      [
        "inline-import",
        {
          "extensions": [".css"]
        }
      ],
      [
        "wrap-in-js",
        {
          "extensions": ["css$", "scss$"]
        }
      ],
      [
        "import",
        {
          "libraryName": "antd",
          "style": false
        }
      ]
    ],
    "presets": [
      [
        "next/babel",
        {
          "styled-jsx": {
            "plugins": [
              "styled-jsx-plugin-sass"
            ]
          }
        }
      ]
    ],
    "ignore": []
  }
  