.popCard{
    flex:5;
    margin-right:30px;
    min-height:212px;
    width:274px;
    background:#fff;
    -moz-box-shadow:-3px -3px 21x rgba(102, 102, 102, 0.2), 3px 3px 5px rgba(102, 102, 102, 0.2); 
    -webkit-box-shadow:-3px -3px 21px rgba(102, 102, 102, 0.2), 3px 3px 5px rgba(102, 102, 102, 0.2);
    box-shadow:-3px -3px 21px rgba(102, 102, 102, 0.2), 3px 3px 5px rgba(102, 102, 102, 0.2);
    border-radius: 5px;
    .title_card{
        padding-top:20px;
        height:58px;
        width:100%;
        padding-left:18px;   
    }
    .popCard_con{
        padding-left:18px;
        width:100%;
        height:140px;
        text-align: center;
    }
}
.popCard:last-child{
    margin:0;
}