video{
    margin:0 !important;
    padding:0 !important;
    width: 600px !important;
    height: 450px !important;
}
.video-js{
    width: 600px !important;
    height: 450px !important;
    background:#fff !important;
}
.vjs-error-display,.vjs-modal-dialog{
   border-radius:10px;
   background: #fff !important
}